.chartlayout {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 100vh;
  max-width: none !important;
}
.chartpage {
  min-height: 100vh;
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100% !important;
  max-width: none !important;
}
.chartindexcontainer {
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0rem;
  max-width: none !important;
}
.chart {
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100% !important;
  max-width: none !important;
}
.chart > section {
  position: relative;
  width: 100% !important;
}
.chart > section > canvas {
  width: 90%;
  position: relative;
}
@media screen and (max-width: 900px) {
  .chartlayout {
    width: 90% !important;
    min-height: 110vh;
  }
  .chart > section > canvas {
    width: 100% !important;
    position: relative;
  }
}
@media screen and (max-width: 500px) {
  .chartlayout {
    width: 97% !important;
    min-height: 120vh;
  }
  .chart > section > canvas {
    width: 100% !important;
    position: relative;
  }
}
@media screen and (max-width: 400px) {
  .chartlayout {
    width: 100% !important;
    min-height: 130vh;
  }
  .chart > section > canvas {
    width: 100% !important;
    position: relative;
  }

  .chartpage {
    margin-inline: 0px;
    padding-inline: 0px !important;
  }
  .chartindexcontainer {
    margin-inline: 0px;
    padding-inline: 0px !important;
  }
}
