.mainPost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: relative;
  padding-inline: 1rem;
  margin-inline: 1rem;
  position: relative;
  overflow-x: hidden;
}
.layoutposts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  position: relative;
  padding-inline: 1rem;
  padding-block: 1rem;
}
.pageposts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding-inline: 1rem;
  padding-block: 0rem;
  width: 80%;
}

@media screen and (max-width: 900px) {
  .mainPost {
    padding-inline: 0px;
    margin-inline: 0px;
  }
  .pageposts {
    width: 100%;
    padding-inline: 0.25rem;
  }
}
@media screen and (max-width: 400px) {
  .layoutposts {
    padding-inline: 0px;
    margin-inline: 0px;
  }
  .pageposts {
    padding-inline: 0rem;
  }
  .mainPost {
    width: 100%;
  }
}
