.postdetail {
  margin-inline: auto;
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  width: 60%;
  min-height: 70vh;
  position: relative;
  overflow-x: hidden;
}
@media screen and (max-width: 1350) {
  .postdetail {
    width: 70%;
    padding-inline: 2rem;
    min-height: 80vh;
  }
}
@media screen and (max-width: 900) {
  .postdetail {
    width: 80%;
    padding-inline: 2rem;
    min-height: 80vh;
  }
}
@media screen and (max-width: 900) {
  .postdetail {
    width: 100%;
    padding-inline: 0rem;
    margin-top: 0rem;
    padding-top: 0.25rem;
    min-height: 100vh;
  }
}
