.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  background: linear-gradient(45deg, whitesmoke, transparent),
    url("/images/main.png") !important;
  background-size: 100% 100%;
  background-position: 50% 50%;
}
.workExpCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  background-color: whitesmoke;
  border: 1px soldi green;
  box-shadow: 1px 1px 12px 1px green;
  border-radius: 8px;
  padding-block: 1.5rem;
  margin-block: 1.5rem;
  margin-inline: auto;
  position: relative;
  gap: 1.5rem;
}
.educateCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  border-radius: 8px;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 12px 1px white;
  padding-block: 1.5rem;
  margin-block: 1.5rem;
  margin-inline: auto;
  text-transform: capitalize;
  position: relative;
}
.fileCont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 100% !important; */
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  border: none;
  position: relative;
  margin-block: 1rem;
  gap: 1rem;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
}
.fileCont > h6 {
  font-size: 120%;
  color: blue;
  text-transform: capitalize;
}
.fileCont > span {
  color: black;
  align-self: flex-start;
  text-transform: capitalize;
}
.contactCont {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  align-items: center;
  margin-inline: auto;
  border: 1px solid blue;
  box-shadow: 1px 1px 10px 1px white;
  border-radius: inherit;
  padding: 1rem;
  color: white;
  text-align: center;
  background-color: #013b3f;
}
.contactCont > div {
  width: 100%;
  margin-inline: auto;
  align-self: center;
}
.editSiteCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  background-color: whitesmoke;
  box-shadow: 1px 1px 12px 1px lime;
  border-radius: 8px;
  padding-block: 1.5rem;
  margin-block: 1.5rem;
  position: relative;
}
.editSiteCont > h4,
.educateCont > h4,
.workExpCont > h4 {
  color: rgb(0, 187, 255);
  text-decoration: underline;
  margin-bottom: 1.5rem;
}
.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  gap: 1rem;
  position: relative;
  border-radius: 8px;
  padding: 1rem;
}

.rowContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  width: 100% !important;
}
.css_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 1rem;
}
.saveCreateNewResume {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-inline: auto;
  margin-block: 2rem;
  width: 100%;
  position: relative;
  padding-inline: 1rem;
  gap: 2rem;
}
.saveEditedResume {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(250px, 375px, 400px);
  position: absolute;
  inset: -170% -100% auto -100%;
  box-shadow: 1px 1px 12px 1px black;
  border-radius: 8px;
  background-color: white;
  height: auto;
  z-index: 200;
  padding: 1rem !important;
}
.rowCol {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 1rem;
  background: linear-gradient(45deg, whitesmoke, rgba(255, 255, 255, 0.4));
}
.editSaveAsNewCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(250px, 375px, 400px);
  position: absolute;
  inset: 20% 30% auto 30%;
  box-shadow: 1px 1px 12px 1px black;
  border-radius: 8px;
  background-color: white;
  height: auto;
  padding: 1rem !important;
  z-index: 100;
}
.sortOrderWorkExp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(20px, -35px);
  box-shadow: 1px 1px 8px 1px blue;
  border-radius: 30px;
  background-color: black;
  color: white;
  z-index: 200;
  height: auto;
  padding-top: 0.75rem !important;
  padding-inline: 1.5rem !important;
  cursor: pointer;
}
.sortOrderWorkExp > div {
  padding: 0.25rem;
  box-shadow: 1px 1px 12px 1 white, -1px -1px 12px 1 white;
  border-radius: inherit;
  position: relative;
  margin: auto;
}
.sortOrderWorkExp > div::after {
  display: block;
  content: attr(data-count);
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(10px, -15px);
  color: white;
  border-radius: 50%;
  padding: 0.25rem;
  background-color: black;
  width: fit-content;
  aspect-ratio: 1 / 1;
}
.showHideContShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 0.5rem;
  transform: rotateX(0deg) scale(1) !important;
  opacity: 1;
  animation: growRotateIn 1s ease-in;
}
.showHideContHide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 0.5rem;
  opacity: 0;
  transform: rotateX(90deg) scale(0.5) !important;
  animation: growRotateOut 1s ease-in;
}
@keyframes growRotateIn {
  from {
    transform: rotateX(90deg) scale(0.5);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg) scale(1);
    opacity: 1;
  }
}
@keyframes growRotateOut {
  from {
    transform: rotateX(0deg) scale(1);
    opacity: 1;
  }
  to {
    transform: rotateX(90deg) scale(0.5);
    opacity: 0;
  }
}
.hideShowPopupWorkShow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
  color: white;
  padding-inline: 1.5rem;
  padding-block: 0rem;
  border-radius: 20px;
  top: 0%;
  right: 0%;
  z-index: 200;
  gap: 0.25rem;
  cursor: pointer;
  transform: translate(20px, -60px);
}
.hideShowPopupWorkShow > div#xDiv {
  transform: rotateX(180deg);
}
.hideShowPopupWorkHide {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: black;
  color: white;
  padding-inline: 1.5rem;
  padding-block: 0rem;
  border-radius: 20px;
  top: 0%;
  right: 0%;
  z-index: 200;
  gap: 0.25rem;
  transform: translate(20px, -60px);
}
.hideShowPopupWorkHide > div {
  transform: rotateX(0deg) !important;
}
.hideShowPopupEducShow {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  background-color: black;
  color: white;
  padding-inline: 1.5rem;
  padding-block: 0rem;
  border-radius: 20px;
  gap: 0.25rem;
  top: 0%;
  left: 0%;
  z-index: 200;
  transform: translate(20px, -60px);
  cursor: pointer;
}
.hideShowPopupEducShow > div {
  transform: rotateX(180deg) !important;
}
.hideShowPopupEducHide {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  background-color: black;
  color: white;
  padding-inline: 1.5rem;
  padding-block: 0rem;
  border-radius: 20px;
  gap: 0.25rem;
  top: 0%;
  left: 0%;
  z-index: 200;
  transform: translate(20px, -60px);
}
.hideShowPopupEducHide > div {
  transform: rotateX(0deg) !important;
}
.css_col {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100% !important;
  gap: 1rem !important;
}
.formGrp {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80% !important;
}
.formGrpCheck {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
}
@media screen and (max-width: 900px) {
  .editSaveAsNewCont {
    inset: 20% 10% auto 10%;
  }
  .sortOrderWorkExp {
    transform: translate(190px, -35px);
  }
}

@media screen and (max-width: 400px) {
  .rowContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rowCol {
    width: 100% !important;
    align-items: center;
    justify-content: center;
  }
  .editSaveAsNewCont {
    inset: 20% 0% auto 0%;
  }
  .sortOrderWorkExp {
    transform: translate(60px, -35px) scale(0.8);
  }
}
