.viewHeaderMain {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
  position: relative;
  padding-inline: 0;
}
.viewHeaderMain p,
.viewHeaderMain small {
  letter-spacing: 0.15rem;
}

.addressCont {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  line-height: 0.1rem;
  padding-inline: 0;
  width: 50% !important;
  position: relative;
}
.addressCont > p {
  margin: 0;
  line-height: 1.5rem;
}
.educateCard {
  margin-inline: 0;
  width: 100% !important;
  margin-block: 1rem;
}

.educHeaderCont {
  margin-inline: 0;
  width: 100% !important;
  margin-block: 1.5rem;
}
.educHeaderCont > h6 {
  text-transform: capitalize;
  margin-block: 0;
  margin-inline: 0;
}
.educateSkillRowCont {
  display: inline-flex;
  flex-wrap: wrap;
  margin-inline: 0;
  gap: 0.25rem;
}
.educateSkillRowCont > p {
  text-transform: capitalize;
  font-size: 80%;
}
.popupFromSidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: auto;
  margin-block: 1rem;
  position: absolute;
  inset: 0% 0% auto 0%;
  height: auto;
  padding-block: 1rem;
  padding-inline: 1rem;
  gap: 1rem;
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 1px black, -1px -1px 6px 1px black;
}
.fromeSidebarRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
  border: 1px solid blue;
  border-radius: 8px;
}
.sidebarRowInnerRow {
  display: inline-flex;
  margin-inline: 0.5rem;
  flex-wrap: wrap;
  gap: 0.75rem;
  border: 1px solid blue;
  border-radius: 10px;
  padding-inline: 0.25rem;
  position: relative;
  cursor: pointer;
  transform: scale(0.8);
}
.fromeSidebarRow::after {
  content: attr(data-innerRow);
  position: absolute;
  inset: 0% 10% auto 10%;
  transform: translateY(0%);
  opacity: 0;
  color: black;
  letter-spacing: 0.25rem;
  transition: all 1s ease-out;
}
.fromeSidebarRow:hover::after {
  transform: translateY(200%);
  opacity: 1;
  letter-spacing: 0.12rem;
  transition: all 1s ease-in;
}
.btnNormal {
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 0.25rem;
  text-align: center;
  background-color: rgb(4, 202, 209);
  color: red;
  border: none;
  box-shadow: 1px 1px 6px 1px black, -1px -1px 6px 1px black;
}
.btn {
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 0.25rem;
  text-align: center;
  background-color: rgb(4, 202, 209);
  color: red;
  border: none;
  box-shadow: 1px 1px 6px 1px black, -1px -1px 6px 1px black;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 200;
  transform: translate(-120px, 5px) scale(0.5);
}
.btn::after {
  display: block;
  opacity: 0;
  position: absolute;
  inset: 0% -20% auto -20%;
  color: black;
  background: white;
  border-radius: 20px;
  padding-inline: 0.25rem;
  box-shadow: 1px 1px 6px 1px black, -1px -1px 6px 1px black;
  content: attr(data-sidebar-btn);
  transform: translateY(0%) scale(0.5) !important;
  transition: all 0.7s ease-out;
}
.btn:hover::after {
  opacity: 1;
  transform: translateY(-150%) scale(1) !important;
  transition: all 0.7s ease-in;
}
.summaryCont {
  display: flex;
  flex-direction: column;
  margin-inline: 0;
  margin-top: 1rem;
  width: 100% !important;
  align-self: flex-start !important;
  justify-self: center;
}
.summaryCont > h6 {
  text-transform: capitalize;
  margin-bottom: 6px;
  font-size: 220% !important;
  margin-inline: 0;
}

.showHideOuter {
  width: 100% !important;
  margin-inline: 0;
  align-self: flex-start;
}
.expCardHeader {
  width: 100% !important;
  margin-block: 1.75rem;
  line-height: 1rem;
  margin-inline: 0;
}
.experHeaderBody {
  width: 100% !important;
  margin-inline: 0;
  margin-left: 5px;
  margin-top: 5px;
}
.experHeaderBody > p {
  line-height: 1.3rem;
  margin-block: 0;
  padding-block: 0;
}
.expCardHeader > h6 {
  line-height: 2rem;
  font-size: 180%;
}
.experHeaderBodyDateContRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100% !important;
  gap: 0.5rem;
  margin-inline: 0;
  margin-top: 7px;
}
.experHeaderBodyDateContRow > span {
  margin-inline: 0;
}
.workExpCont,
.expCard {
  display: block;
  margin-inline: 0;
  width: 100% !important;
  margin-block: 1.75rem;
}
.workExpCont {
  display: block;
  margin-inline: 0;
  width: 100% !important;
  margin-block: 1.75rem;
}
.workExpCont > h6 {
  text-transform: uppercase;
}
.expCard > p {
  padding-inline: 1.5rem;
  margin-inline: 0;
}
.achievCont {
  display: block;
  width: 100% !important;
  line-height: 1.75rem;
  margin-left: 1rem;
}
.achievEducCont {
  display: block;
  width: 100% !important;
  line-height: 1.75rem;
  margin-left: 1rem;
  margin-inline: 0;
  margin-block: 0.75rem;
}
.achievEducCont > div,
.achievCont > div {
  margin-inline: 0 !important;
  margin-left: 0.5rem !important;
}
.achievEducCont > div > h6 {
  color: blue;
  margin-inline: 0;
  order: -1;
}
.achievEducCont > div > small {
  margin-inline: 0 !important;
}
.achievContCard {
  width: 100% !important;
  margin-inline: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.achievContCard > p {
  line-height: 1.5rem;
  text-wrap: pretty;
  align-self: flex-start;
  justify-self: flex-start;
}
.achievReasonComp {
  line-height: 1.35rem;
  text-wrap: pretty;
}
.achievReasonComp > small {
  color: black;
  text-wrap: pretty;
}
.achievReasonComp > h6 {
  color: blue;
  text-wrap: pretty;
}
.showHideExperience {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 100%;
  margin-inline: 0;
  align-items: stretch;
  flex-wrap: nowrap;
  align-self: flex-start;
}
.showHideExperience > h4,
.showHideExperience > button {
  margin-inline: 0;
  margin-left: 0;
}
.extraContLang {
  display: block;
  margin-inline: 0;
  padding-block: 1rem;
  width: 100% !important;
}
.extraContLang > div {
  padding-left: 6px;
}
.ulCont {
  margin-inline: 0;
  margin-left: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 900px) {
  .addressCont {
    line-height: 0.15rem;
  }
  .expCardHeader {
    line-height: 1.1rem;
  }
  .achievCont,
  .achievEducCont {
    line-height: 0.85rem;
    margin-left: 0.5rem;
  }
  .achievContCard > p {
    line-height: 1.6rem;
  }
  .expCardHeader > h6 {
    font-size: 160%;
  }
  .educateSkillRowCont {
    flex-wrap: wrap;
    font-size: 85%;
  }
  .summaryCont > h6 {
    font-size: 190% !important;
  }
}
@media screen and (max-width: 400px) {
  .viewHeaderMain {
    padding-inline: 0.25rem;
    flex-direction: column;
  }
  .addressCont {
    line-height: 0.1rem;
    width: 100% !important;
  }
  .expCardHeader {
    line-height: 1rem;
  }
  .achievCont,
  .achievEducCont {
    line-height: 1.5rem;
    margin-left: 1rem;
  }

  .expCardHeader > h6 {
    font-size: 140%;
  }
  .educateSkillRowCont {
    gap: 0.15rem;
    font-size: 90%;
  }
  .summaryCont > h6 {
    font-size: 160% !important;
  }
  .popupFromSidebar {
    gap: 2.5rem;
  }
  .btn {
    transform: translate(40px, -15px) scale(0.6);
  }
}
